<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} — Portugal</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H" crossorigin="">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" integrity="sha384-pmjIAcz2bAn0xukfxADbZIb3t8oRT9Sv0rvO+BR5Csr6Dhqq+nZs59P0pPKQJkEV" crossorigin="">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster-src.js" integrity="sha384-xLgzMQOvDhPE6lQoFpJJOFU2aMYsKD5eSSt9q3aR1RREx3Y+XsnqtSDZd+PhAcob" crossorigin=""></script>
  <style type="text/css">
  body { font-family: sans-serif; font-size: 10pt; }
  #map { width: 100%; height: 50vh; }
  @media (prefers-color-scheme: dark) {
    .map-tiles { filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%); }
  }
  .oldv { background-color: red; color: white; }
  .newv { background-color: green; color: white; }
  .tbl-diff-new { font-weight: bold; color: green; }
  .tbl-diff-mod { font-weight: bold; color: orange; }
  .tbl-diff-del { font-weight: bold; color: red; }
  .icn-diff { padding: 1px !important; background: #ffffff; border: 3px solid; }
  .icn-diff-old { border-color: lightskyblue; }
  .icn-diff-new { border-color: green; }
  .icn-diff-mod { border-color: orange; }
  .icn-diff-del { border-color: red; }
  .diff-cluster-wrapper { display: flex; justify-content: center; align-items: center; }
  .diff-cluster, .legend { padding: 3px 6px; background-color: Window; color: WindowText; white-space: nowrap; border: 2px solid WindowFrame; border-radius: 5px; }
  .legend > * { vertical-align: middle; }
  .icn-legend { display: inline-block; width: 4px; height: 4px; margin-bottom: 3px;}
  </style>
</head>
<body>

<div id="map"></div>

{% set v = namespace(counts={"new": 0, "mod": 0, "del": 0, "old": 0}) -%}
{% for d in diff -%}
  {% set _ = v.counts.update({d.kind: v.counts[d.kind] + 1}) -%}
{% endfor -%}

<p>
  Total: {{ diff | length }}<br/>
  Need attention: {{ v.counts["new"] + v.counts["mod"] + v.counts["del"] }}<br/>
  Download: <a href="./{{ name }}.osm">{{ name }}.osm</a> (+<a href="./style.mapcss">JOSM mapcss style</a>)
</p>

<hr/>

{% for k in [["new", "To add"], ["mod", "To modify"], ["del", "To remove"], ["old", "All good"]] %}
{% if v.counts[k[0]] > 0 %}
<details id="diff-details-{{ k[0] }}"{{ ' open="open"' if k[0] != "old" else "" }}>
<summary class="tbl-diff-{{ k[0] }}">{{ k[1] }} ({{ v.counts[k[0]] }})</summary>

{% for d in diff if d.kind == k[0] -%}
<p id="id-{{ d.data["id"] }}">{{ d.data["type"] | capitalize }} {% if d.kind != "new" %}<a href="https://www.openstreetmap.org/{{ d.data["type"] }}/{{ d.data["id"] }}">{% endif %}{{ d.data["id"] }}{% if d.kind != "new" %}</a>{% endif %}
(<a href="https://www.openstreetmap.org/?mlat={{ d.lat }}&mlon={{ d.lon }}#map=19/{{ d.lat }}/{{ d.lon }}">{{ d.lat }},{{ d.lon }}</a>)
{% if d.kind != "new" -%}
(<a href="https://www.openstreetmap.org/{{ d.data["type"] }}/{{ d.data["id"] }}/history/{{ d.data["version"] }}">v{{ d.data["version"] }}</a>,
<a href="https://www.openstreetmap.org/changeset/{{ d.data["changeset"] }}">#{{ d.data["changeset"] }}</a>,
<a href="https://www.openstreetmap.org/user/{{ d.data["user"] }}">{{ d.data["user"] }}</a>,
<abbr title="{{ d.data["timestamp"] }}">{{ d.data["timestamp"] | fromisoformat | naturaltime }}</abbr>)
{%- endif %}
(to {% if d.kind == "new" %}add{% elif d.kind == "del" %}remove{% elif d.kind == "mod" %}modify{% else %}?{% endif %}):<p>
<ul>
{% for key, value in d.data["tags"] | dictsort -%}
<li><b>{{ key }}</b> = {% if key in d.old_tags -%}
"<span class="oldv">{{ d.old_tags[key] }}</span>" &rarr; "<span class="newv">{{ value }}</span>"
{%- else -%}
"{{ value }}"
{%- endif -%}
</li>
{% endfor -%}
</ul>
{% endfor -%}

</details>
{% endif %}
{% endfor %}

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const map = L.map('map').fitBounds([
    [{{ diff | map("lat") | min }}, {{ diff | map("lon") | min }}],
    [{{ diff | map("lat") | max }}, {{ diff | map("lon") | max }}]
  ]);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    className: 'map-tiles',
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  const points = [
    {%- for d in diff %}
    [{{d.data["id"]}}, '#{{ d[ref] }}', [{{ d.lat }}, {{ d.lon }}], '{{ d.kind }}'],
    {%- endfor %}
  ];

  const group = L.markerClusterGroup({
    iconCreateFunction: cluster => {
      const markers = cluster.getAllChildMarkers();
      const counts = {};
      for (let i = 0; i < markers.length; i++) {
        const kind = markers[i].options._diff_kind;
        counts[kind] ||= 0;
        ++counts[kind];
      }
      return L.divIcon({
        html: '<div class="diff-cluster">' + ['new', 'mod', 'del', 'old'].filter(k => Object.keys(counts).includes(k)).map(k => `<span class="tbl-diff-${k}">${counts[k]}</span>`).join('/') + '</div>',
        className: 'diff-cluster-wrapper',
      });
    }
  });
  const icons = {};
  for (const [id, t, c, k] of points) {
    if (!icons[k]) {
      icons[k] = L.icon({
        iconUrl: `./images/{{ name }}.png`,
        iconSize: L.point(16, 16),
        className: `icn-diff icn-diff-${k}`,
      });
    }
    const marker = L.marker(c, { title: t, icon: icons[k], _diff_kind: k })
      // .on('click', () => window.open(`https://www.openstreetmap.org/?mlat=${c[0]}&mlon=${c[1]}#map=19/${c[0]}/${c[1]}`));
      .on('click', () => {
        const section = document.getElementById(`diff-details-${k}`);
        if (!section.hasAttribute('open')) {
          section.setAttribute('open', true);
        }
        window.location.href=`#id-${id}`;
      });
    group.addLayer(marker);
  }
  map.addLayer(group);

  const legend = L.control({position: 'bottomright'});
  legend.onAdd = function (map) {
    const div = L.DomUtil.create('div', 'legend');
    const items = [['new', 'To add'], ['mod', 'To modify'], ['del', 'To remove'], ['old', 'All good']];
    div.innerHTML = items.map(item => `<span class="icn-legend icn-diff icn-diff-${item[0]}"></span>&nbsp;${item[1]}`).join('<br/>');
    return div;
  };
  legend.addTo(map);
});
</script>

<hr/>

<p>
  Source code: <a href="https://github.com/mikedld/osm">https://github.com/mikedld/osm</a>
</p>

</body>
</html>
