<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ name }} — Portugal</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H" crossorigin="">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH" crossorigin=""></script>
  <style type="text/css">
  body { font-family: sans-serif; font-size: 10pt; }
  #map { width: 100%; height: 50vh; }
  .oldv { background-color: red; color: white; }
  .newv { background-color: green; color: white; }
  img.diff-old {}
  img.diff-new { filter: hue-rotate(250deg); }
  img.diff-mod { filter: hue-rotate(90deg); }
  img.diff-del { filter: hue-rotate(150deg); }
  </style>
</head>
<body>

<div id="map"></div>

{% set att_count = namespace(value=0) -%}
{% for d in diff if d.kind != "old" -%}
  {% set att_count.value = att_count.value + 1 -%}
{% endfor -%}

<p>
  Total: {{ diff | length }}<br/>
  Need attention: {{ att_count.value }}{% if att_count.value > 0 %} (see below){% endif %}
</p>

{% if att_count.value > 0 -%}
<hr/>

{% for d in diff if d.kind != "old" -%}
<p>Store #{{ (d[ref] or "???") | e }}
(<a href="https://www.openstreetmap.org/?mlat={{ d.lat }}&mlon={{ d.lon }}#map=19/{{ d.lat }}/{{ d.lon }}">{{ d.lat }},{{ d.lon }}</a>)
{% if d.kind != "new" -%}
(<a href="https://www.openstreetmap.org/node/{{ d.data["id"] }}/history/{{ d.data["version"] }}">v{{ d.data["version"] }}</a>,
<a href="https://www.openstreetmap.org/changeset/{{ d.data["changeset"] }}">#{{ d.data["changeset"] }}</a>,
<a href="https://www.openstreetmap.org/user/{{ d.data["user"] | e }}">{{ d.data["user"] | e }}</a>,
<abbr title="{{ d.data["timestamp"] | e }}">{{ d.data["timestamp"] | fromisoformat | naturaltime }}</abbr>)
{%- endif %}
(to {% if d.kind == "new" %}add{% elif d.kind == "del" %}remove{% elif d.kind == "mod" %}modify{% else %}?{% endif %}):<p>
<ul>
{% for key, value in d.data["tags"] | dictsort -%}
<li><b>{{ key | e }}</b> = {% if key in d.old_tags -%}
"<span class="oldv">{{ d.old_tags[key] | e }}</span>" &rarr; "<span class="newv">{{ value | e }}</span>"
{%- else -%}
"{{ value | e }}"
{%- endif -%}
</li>
{% endfor -%}
</ul>
{% endfor -%}

{% endif %}

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const map = L.map('map').fitBounds([
    [{{ diff | map("lat") | min }}, {{ diff | map("lon") | min }}],
    [{{ diff | map("lat") | max }}, {{ diff | map("lon") | max }}]
  ]);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  const points = [
    {%- for d in diff %}
    ['#{{ d[ref] }}', [{{ d.lat }}, {{ d.lon }}], '{{ d.kind }}'],
    {%- endfor %}
  ];

  for (const [t, c, k] of points) {
    const marker = L.marker(c, { title: t })
      .on('click', () => window.open(`https://www.openstreetmap.org/?mlat=${c[0]}&mlon=${c[1]}#map=19/${c[0]}/${c[1]}`))
      .addTo(map);
    marker._icon.classList.add(`diff-${k}`);
  }
});
</script>

</body>
</html>
