name: lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CLICOLOR_FORCE: "1"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - run: pipx install poetry
      - run: poetry install --with=dev -v
      - run: poetry run ruff check
      - run: poetry run ruff format --check --diff
